body {
    background-image: url("https://pbs.twimg.com/media/DBhYpnvUQAAxFnN.jpg"); 
}

div.jumbotron {
    background-image: url("https://cdn2.oceansbridge.com/2017/08/15194747/The-Garden-of-Earthly-Delights-Hell-right-wing-of-triptych-detail-of-ears-with-a-knife-1500-Hieronymus-Bosch-oil-painting-1.jpg");
    color: white;
}